---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { Variant } from '~/enums';
import Image from '~/components/common/Image.astro';

const metadata = {
  title: 'Segundo Sueldo',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: Variant.Primary,
        text: 'Actívalo ahora',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
      },
      { text: 'Descubre si eres candidato', href: '#features' },
    ]}
    image={{ src: '~/assets/images/cover.jpg', alt: 'empresas segundo sueldo' }}
  >
    <Fragment slot="tagline">
      <span>INVIERTE EN NEGOCIOS QUE TE PAGAN CADA MES </span>
    </Fragment>
    <Fragment slot="title">
      Obtén un
      <span class="text-teal dark:text-white highlight"> Segundo Sueldo</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Aumenta tus ingresos invirtiendo en negocios rentables y confiables. Con nosotros, recibirás un Segundo Sueldo
        mensual de forma sencilla y en un solo clic.</span
      >
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    tagline="ÚNETE A NUESTRA COMUNIDAD DE INVERSIONISTAS Y COMIENZA A RECIBIR PAGOS MENSUALES."
    stats={[
      { title: 'USUARIOS ACTIVOS', amount: '+900' },
      { title: 'INVERTIDOS', amount: '$6M' },
      { title: 'RETORNOS PAGADOS', amount: '+$1M' },
      { title: 'RETORNO ANUALIZADO', amount: '20%' },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Selección de empresas"
    subtitle="Descubre las empresas cuidadosamente seleccionadas que ayudan a construir tu Segundo Sueldo. Cada mes, te ofrecemos una selección compuesta por empresas nuevas y rondas exitosas, diversificando tu portafolio con inversiones inteligentes y rentables."
    tagline="CONOCE LAS EMPRESAS QUE PODRÍAN PAGARTE CADA MES"
    callToAction1={{
      text: 'Activar ahora',
      href: 'https://github.com/onwidget/astrowind',
      target: '_blank',
      variant: Variant.Primary,
    }}
    items={[
      {
        title: 'Compospack',
        description:
          'Vende empaques compostables a Costco y Walmart. Gana por cada empaque vendido. ¡Haz que tu inversión sea más verde y gane más!',
        image: { src: '~/assets/images/compospack.svg', alt: 'compospack' },
        callToAction: {
          text: 'Conoce más',
          href: 'https://github.com/onwidget/astrowind',
          target: '_blank',
          variant: Variant.Secondary,
        },
      },
      {
        title: 'Doopla',
        description:
          'Fintec que te da mejores créditos que los bancos. Recibe pagos por comisiones.¡Deja que otros paguen las deudas mientras tú ganas!',
        image: { src: '~/assets/images/doopla.svg', alt: 'doopla' },
        callToAction: {
          text: 'Conoce más',
          href: 'https://github.com/onwidget/astrowind',
          target: '_blank',
          variant: Variant.Secondary,
        },
      },
      {
        title: 'RedGirasol',
        description:
          'Fintec que ilumina México con créditos para proyectos solares. Recibe pagos por comisiones. ¡Deja que el sol pague tus ganancias!',
        image: { src: '~/assets/images/red_girasol.svg', alt: 'red_girasol' },
        callToAction: {
          text: 'Conoce más',
          href: 'https://github.com/onwidget/astrowind',
          target: '_blank',
          variant: Variant.Secondary,
        },
      },
      {
        title: 'La Cervecería de Barrio',
        description:
          'Restaurante con cortes, mariscos y bebidas. Recibe pagos por cada comensal.¡Haz que cada bocado cuente en tus ganancias!',
        image: { src: '~/assets/images/cdb.svg', alt: 'cdb' },
        callToAction: {
          text: 'Conoce más',
          href: 'https://github.com/onwidget/astrowind',
          target: '_blank',
          variant: Variant.Secondary,
        },
      },
      {
        title: 'Frutos Guadalajara',
        description:
          'Productores de aguacate para exportación a EE.UU. Recibe pagos por las ventas de aguacate. ¡Que tu inversión sea tan rica como un buen aguacate!',
        image: { src: '~/assets/images/frutos.svg', alt: 'frutos' },
        callToAction: {
          text: 'Conoce más',
          href: 'https://github.com/onwidget/astrowind',
          target: '_blank',
          variant: Variant.Secondary,
        },
      },
      {
        title: 'Top Energy',
        description:
          'Soluciones energéticas para grandes marcas como Walmart y AutoZone. Recibe pagos por venta y mantenimiento de proyectos. ¡Deja que la energía trabaje mientras tú recargas tus ganancias!',
        image: { src: '~/assets/images/top_energy.svg', alt: 'top_energy' },
        callToAction: {
          text: 'Conoce más',
          href: 'https://github.com/onwidget/astrowind',
          target: '_blank',
          variant: Variant.Secondary,
        },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <section class="md:py-12 py-4">
    <Image src={'~/assets/images/banner.png'} alt={'AstroWind Hero Image'} loading={'lazy'} class="mx-auto" />
  </section>
  <!-- Features Widget *************** -->

  <!-- <Features
    id="features"
    tagline="Features"
    title="What you get with AstroWind"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022."
    items={[
      {
        title: 'Astro + Tailwind CSS Integration',
        description:
          'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Ready-to-use Components',
        description:
          'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Excellent Page Speed',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  /> -->

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Invierte desde $500 pesos',
        description: 'Con solo $500MXN puedes empezar a recibir tu primera selección de empresas.',
      },
      {
        title: 'Diversifica tu portafolio',
        description:
          '¡Minimiza riesgos invirtiendo en múltiples empresas! Cada selección de empresas puede contener tanto empresas probadas con historias de éxito en PB, como empresas nuevas.',
      },
      {
        title: 'Reinvierte tus retornos',
        description: 'Aprovecha al máximo el interés compuesto reinvirtiendo automáticamente tus regalías.',
      },
      {
        title: 'Acceso prioritario',
        description:
          'No te pierdas ninguna inversión, mediante Segundo Sueldo accede a todas las nuevas rondas para que nunca te quedes fuera.',
      },
    ]}
    image={{
      src: '~/assets/images/feature.png',
      alt: 'Features segundo sueldo',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">¿Qué esperar al contratar?</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!-- <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Steps Widget ****************** -->

  <!-- <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</em>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  /> -->

  <!-- HighlightedPosts Widget ******* -->
  <!-- 
  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <!-- FAQs Widget ******************* -->
  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: Variant.Primary,
        text: 'Aplica en 1 minuto',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title"> ¡Descubre cuánto dinero puedes generar! </Fragment>

    <Fragment slot="subtitle"> Configurarlo es gratis. </Fragment>
  </CallToAction>
  <FAQs
    title="¿Tienes dudas?"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Qué necesito para empezar?',
        description:
          'Solo necesitas crear tu cuenta en Play Business, definir cuánto quieres invertir, elegir la cuenta de débito con la que deseas pagar y ¡podrás unirte a Segundo Sueldo hoy!',
      },
      {
        title: '¿Cuánto puedo domiciliar?',
        description: 'Los montos que puedes domiciliar van desde $500 MXN hasta $100,000 MXN.',
      },
      {
        title: '¿Cómo puedo pagar mi mensualidad de Segundo Sueldo?',
        description:
          'Al activar Segundo Sueldo, podrás elegir la cuenta CLABE con la que desees pagar cada mes. ¡El pago se hará automáticamente sin ningún esfuerzo!',
      },
      {
        title: '¿Esto tiene un costo?',
        description: 'El costo de invertir con Segundo Sueldo es un 5% de comisión más IVA.',
      },
      {
        title: '¿Puedo elegir las empresas que incluye una cartelera?',
        description:
          'Las carteleras son seleccionados por nuestro equipo de expertos por lo que no es posible elegir las empresas que deseas obtener. Sin embargo, ¡eso es lo magnífico de Segundo Sueldo! Nosotros analizamos cada empresa, dejas que tu dinero trabaje solo y tú te dedicas a fortalecer tu portafolio.',
      },
      {
        title: '¿Puedo apagar o encender la reinversión de mis retornos en Segundo Sueldo?',
        description:
          'Por supuesto. Al apagar la reinversión, tus retornos serán almacenados en “Cuenta PB” y no en “Por reinvertir”. Es importante saber que si apagas la reinversión y mueves dinero a tu cuenta de “Por reinvertir”, este se reinvertirá en Segundo Sueldo.',
      },
      {
        title: '¿Cuándo hacen el cargo a mi cuenta bancaria?',
        description:
          'Las fechas en las que haremos el cargo son los días 4 o 18 de cada mes. Si el intento de cargo no es exitoso en esas fechas, haremos un segundo intento en las siguientes 48 horas. Si la fecha de cargo llegara a ser en día inhábil, el cargo será realizado al siguiente día hábil.',
      },
      {
        title: '¿Es posible vender mi participación en Mercado Secundario?',
        description: 'Sí, puedes vender tu participación en cualquier ronda obtenida a través de Segundo Sueldo.',
      },
      {
        title: '¿Puedo asignar un heredero de mis inversiones obtenidas a través de Segundo Sueldo?',
        description: 'Sí, puedes definir la persona que tu quieras como beneficiario de tus inversiones.',
      },
      {
        title: '¿Puedo cancelar mi registro en Segundo Sueldo?',
        description: 'Sí, puedes cancelar tu registro en cualquier momento y continuar reinvirtiendo tus regalías.',
      },
      {
        title: '¿Puedo apagar o encender los cargos automáticos a mi cuenta bancaria?',
        description:
          'Claro. Tu decides cuándo y cuánto cargamos a tu cuenta. Solo entra a los ajustes de tu Segundo Sueldo y modifica tu domiciliación cuando lo necesites.',
      },
      {
        title: '¿Qué pasa si activo la reinversión de mis retornos de Segundo Sueldo?',
        description:
          'Todo lo que generas a través de Segundo Sueldo, será reinvertido en las nuevas empresas que estén disponibles en Play Business en ese momento.',
      },
    ]}
  />
</Layout>
