---
import Image from './common/Image.astro';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image src="/src/assets/images/logo.svg" alt="Segundo Sueldo" loading="lazy" />
</span>
